body{
    background-image: url("https://img.freepik.com/fotos-premium/purpura-violeta-rosa-degradado-color-abstracto-backgroud_27109-373.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
	font-family: 'Noto Sans', sans-serif;
    margin: 0;
  }

.navbar {
    overflow: hidden;
    background-color: rgb(160, 97, 160);
    
}

.navbar a {
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 40px 10px;
    text-decoration: none;
    font-size: 17px;
    width:10%;
    margin:10 1%;
}
  
.navbar a:hover {
    background-color: rgb(135, 157, 224);
    color: purple;
}

.footer {
    overflow: hidden;
    background-color: rgb(160, 97, 160);   
}

footer ul{
    float: center ;
    display: inline;
    color: white;
    text-align: center;
    padding: 20px 10px;
    text-decoration: none;
    font-size: 17px;
    width:50%;
    margin:10 1%;
}

footer ul li {
    float: left;
    display: inline;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
  
footer li:hover {
    background-color:rgb(135, 157, 224);
    color: purple;
}

footer ol li {
    float: right;
    display: inline;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.box_form{	
	width: 460px; 
    display: block;
    height: auto;
    margin: 40px auto;
	border-radius: 10px;  
	padding-top: 30px;
	padding-bottom: 20px;  
    background-color: #fbfbfb; 
    padding-left: 30px; 
    margin-right: 40px;
}

input{
	background-color: #fbfbfb; 
	width: 408px; 
	height: 40px; 
	border-radius: 5px;  
	border-style: solid; 
	border-width: 1px; 
	border-color: #ab4493; 
	margin-top: 10px;  
	padding-left: 10px;
    margin-bottom: 20px; 
}

select{
	background-color: #fbfbfb; 
	width: 420px; 
	height: 40px; 
	border-radius: 5px;  
	border-style: solid; 
	border-width: 1px; 
	border-color: #ab4493; 
	margin-top: 10px;  
	padding-left: 10px;
    margin-bottom: 20px; 
}


h1{
	font-size: 39px;  
	text-align: left; 
	padding-bottom: 20px; 
	color: #ab4493;
    display: inline;
}

h2{
    text-align: left;
    color: white;
    margin-top: 10px;
    padding: 25px 10px;
    padding-bottom: 0;
}

h3{
	font-size: 16px; 
	padding-bottom: 30px;
	color: #0e0e0e;   
}

h4{
    color:rgb(65, 6, 65);
    text-align: justify;
}

h5{
    color: rgb(65, 6, 65);
    text-align: right;
    float: right;
}

p{
    font-size: 14px; 
	color: black; 
}

span{
	color: #ab4493; 
}

.aviso{
	font-size: 13px;  
	color: #0e0e0e;  
}

button{
	height: 45px; 
	padding-left: 5px;
	padding-right: 5px; 	
	margin-bottom: 20px; 
	margin-top: 10px; 	
	text-transform: uppercase;
	border-style: solid; 
	border-radius: 10px;	
	width: 420px;   
    cursor: pointer;
}

button p{
    color: #fff; 
}

#enviar{
	background-color: rgb(57, 57, 209); 
	border-color:rgb(57, 57, 209); 
}

#cancelar{
	background-color: rgb(184, 13, 13); 
	border-color: rgb(184, 13, 13); 
}

#cerrar{
    margin-left: 85%;
    margin-top: 0;
    margin-bottom: 0;
    background-color: rgb(51, 7, 51);
    border-color: rgb(51, 7, 51);
    border-radius: 100px;
    width: 50px;
    height: 50px;
}

::-webkit-input-placeholder {
    color: #a8a8a8;
}
   
::-webkit-textarea-placeholder {
    color: #a8a8a8;
}

textarea {
    background-color: #fbfbfb;
    width: 405px;
    height: 150px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #ab4493;
    margin-top: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
    padding-top: 15px;
}

.form input:focus{
	outline:0;
	border: 1px solid skyblue;
}


.form textarea:focus{
	outline:0;
	border: 1px solid skyblue;
}

option{
    color: darkmagenta;
}

section aside div#audiolibros{
	border:2px solid rgb(135, 157, 224); 
    background: rgb(135, 157, 224);
    border-radius: 5%;
    float: left;
    margin: 40px 20px 20px 20px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    width: 50%;
	}
	
section aside div img{
    margin: auto;
    width: 180px;
    height: 250px;
    float: center   ;
    display: block;
}

#audiolibros p{
    color: rgb(57, 7, 82);
    text-align: justify;
    line-height: 22px;
}

#audiolibros h3{
    color: rgb(57, 7, 82);
    text-align: center;
    line-height: 22px;
}
    
    

#logo{
    width: 250px;
    height: 200px;
}

section aside div li{
	margin: auto 20px 60px auto;
    float: left;
    list-style: none;
	}

section aside div li img{
    width: 200px;
    height: 150px;
    }


section aside div#nosotros{
	border:2px solid rgb(63, 13, 109); 
    background: rgb(63, 13, 109);
    border-radius: 5%;
    float: left;
    margin: 40px 20px 20px 20px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    width: 50%;
    color: white;
}

section aside div#nosotros p{
    color: aliceblue;
}

section aside div#nosotros h1{
    color: rgb(241, 177, 241);
    text-align: center;
}

section aside div#nosotros a{
    color: darkmagenta;
    background-color: rosybrown;
    font-style: oblique;
    font-weight: bold;
    padding: 5px;
} 

#hombre{
    width: 15px;
    height: 15px;
}

#mujer{
    width: 15px;
    height: 15px;
}

#es{
    width: 15px;
    height: 15px;
}

#en{
    width: 15px;
    height: 15px;
}

#termino{
    width: 18px;
    height: 18px;
}

.table{
    width: 650px;
    margin: 45px;
    text-align: left;
    border-collapse: collapse;
    float: center;
}

th{
    font-weight: normal;
    padding: 8px;
    background: #aabcfe;
    border-top: 4px solid #aabcfe; 
    border-bottom: 1px solid #fff;
    color: #039;
}

td {
    font-weight: normal;
    padding: 8px;
    background: #e8edff;
    border-bottom: 1px solid #fff;
    color: #669;
    border-top: 1px solid transparent; 
}

tr:hover td {
    background: #ab4493;
    color: white;
}